<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1209FB84-C765-41ED-9B2A-550F7AACE991</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>146E0A8B-EC73-46C2-B41A-D406EED37797</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13F6ED37-F01E-4C31-B0C3-7CF3267E7B28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F328DEFD-444F-4D68-9071-48EEB5D2E04A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>146E0A8B-EC73-46C2-B41A-D406EED37797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C09D910A-1C84-4A9B-854E-7C3CD2B4C99E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14DB492B-F34F-43D5-91E3-5922BC3B1D20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EEF3D7D-6C38-4B8A-BBEE-454A8A7A2224</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37A180C0-2CD5-4670-938C-06AB60E7CF3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>537FDAB4-B7DF-4F64-BAB6-EE60FA9D7BED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</key>
		<array/>
		<key>60354899-7F05-4FFE-AAF9-689D176C28A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>683CC6E4-99B5-489F-BA27-2F47A71E27A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70FF0E11-5676-425D-BF5E-34D70582C525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86E79E35-0DFC-426B-AF8D-9CB8828B0429</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48CC435A-12E5-422A-83BF-45BFA92933D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94148A13-C1A1-4E4C-B260-4FD8198179F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C4A2945-C1B0-4EB8-9F99-0DE8EB9A21E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB338E2D-A6D5-4208-B125-F9D4B4345D96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1209FB84-C765-41ED-9B2A-550F7AACE991</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D2D2E2-AB06-4444-A4D7-88AA80158874</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E03889A1-8789-4D59-AA5F-DE3B80C5A26B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD997049-9DCE-4578-87D2-839F733F738F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB338E2D-A6D5-4208-B125-F9D4B4345D96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C09D910A-1C84-4A9B-854E-7C3CD2B4C99E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2636AD83-EED2-4069-A9C0-0CF9A907E3E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2193374-17F3-4898-86CA-8EE034C1A96E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5502BF3F-668B-4DB1-995F-95BA3497D62E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBC0DAA3-A96F-491F-9EEF-06385FFFB1F7</key>
		<array/>
		<key>F328DEFD-444F-4D68-9071-48EEB5D2E04A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBC0DAA3-A96F-491F-9EEF-06385FFFB1F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>flipkart others</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f stark console</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>stark console</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60354899-7F05-4FFE-AAF9-689D176C28A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://10.24.8.54/welcome/index#breached-alerts</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f jira</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>JIRA</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13F6ED37-F01E-4C31-B0C3-7CF3267E7B28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.fkinternal.com/secure/RapidBoard.jspa?rapidView=370&amp;selectedIssue=SPSLM-8511</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DBC0DAA3-A96F-491F-9EEF-06385FFFB1F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://confluence.fkinternal.com/display/SPSLM/JFM+2022</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F328DEFD-444F-4D68-9071-48EEB5D2E04A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f json escape</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>json escape</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>37A180C0-2CD5-4670-938C-06AB60E7CF3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f json</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>json</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>683CC6E4-99B5-489F-BA27-2F47A71E27A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.freeformatter.com/json-escape.html#ad-output</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>537FDAB4-B7DF-4F64-BAB6-EE60FA9D7BED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jsoneditoronline.org/#left=local.takome</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>70FF0E11-5676-425D-BF5E-34D70582C525</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f fast</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>fast</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86E79E35-0DFC-426B-AF8D-9CB8828B0429</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://fast.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>48CC435A-12E5-422A-83BF-45BFA92933D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>June@@495452{cursor}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4EEF3D7D-6C38-4B8A-BBEE-454A8A7A2224</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f ldap</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>***************</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>14DB492B-F34F-43D5-91E3-5922BC3B1D20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>May@@495452{cursor}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5C4A2945-C1B0-4EB8-9F99-0DE8EB9A21E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f pass</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>***************</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>94148A13-C1A1-4E4C-B260-4FD8198179F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>yadav.hariom{cursor}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E03889A1-8789-4D59-AA5F-DE3B80C5A26B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f user</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>yadav.hariom</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2D2D2E2-AB06-4444-A4D7-88AA80158874</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>H4rry@@495452{cursor}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5502BF3F-668B-4DB1-995F-95BA3497D62E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f rsa</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>***********</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2193374-17F3-4898-86CA-8EE034C1A96E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://flow.fkinternal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C09D910A-1C84-4A9B-854E-7C3CD2B4C99E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://flipkart.onelogin.com/portal</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2636AD83-EED2-4069-A9C0-0CF9A907E3E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://confluence.fkinternal.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>146E0A8B-EC73-46C2-B41A-D406EED37797</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.fkinternal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AB338E2D-A6D5-4208-B125-F9D4B4345D96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f login</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>LOGIN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD997049-9DCE-4578-87D2-839F733F738F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.fkinternal.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1209FB84-C765-41ED-9B2A-550F7AACE991</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1209FB84-C765-41ED-9B2A-550F7AACE991</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>13F6ED37-F01E-4C31-B0C3-7CF3267E7B28</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>146E0A8B-EC73-46C2-B41A-D406EED37797</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>14DB492B-F34F-43D5-91E3-5922BC3B1D20</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>2636AD83-EED2-4069-A9C0-0CF9A907E3E8</key>
		<dict>
			<key>xpos</key>
			<integer>1155</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>37A180C0-2CD5-4670-938C-06AB60E7CF3E</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>48CC435A-12E5-422A-83BF-45BFA92933D7</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>4EEF3D7D-6C38-4B8A-BBEE-454A8A7A2224</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>537FDAB4-B7DF-4F64-BAB6-EE60FA9D7BED</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>5502BF3F-668B-4DB1-995F-95BA3497D62E</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>5C4A2945-C1B0-4EB8-9F99-0DE8EB9A21E3</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>60354899-7F05-4FFE-AAF9-689D176C28A6</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>683CC6E4-99B5-489F-BA27-2F47A71E27A4</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>70FF0E11-5676-425D-BF5E-34D70582C525</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>86E79E35-0DFC-426B-AF8D-9CB8828B0429</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>94148A13-C1A1-4E4C-B260-4FD8198179F5</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>AB338E2D-A6D5-4208-B125-F9D4B4345D96</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>B2D2D2E2-AB06-4444-A4D7-88AA80158874</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>BD997049-9DCE-4578-87D2-839F733F738F</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>C09D910A-1C84-4A9B-854E-7C3CD2B4C99E</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>D2193374-17F3-4898-86CA-8EE034C1A96E</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>DBC0DAA3-A96F-491F-9EEF-06385FFFB1F7</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>E03889A1-8789-4D59-AA5F-DE3B80C5A26B</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>F328DEFD-444F-4D68-9071-48EEB5D2E04A</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
