<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>03E9D567-B2AB-4DEA-9C9C-E1393A8D8788</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91873840-401F-4DAA-8C96-BA2D3DF10C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>226D60E3-2D24-4ECD-B04A-072CE2C05323</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77A6F5AD-1CA1-4974-BC38-BDFE5A877175</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D3FE428-C6EF-40C8-A07C-22AB330FD2F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3045E9ED-087B-4DAF-A8EC-5D2D38C8EB52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3045E9ED-087B-4DAF-A8EC-5D2D38C8EB52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03E9D567-B2AB-4DEA-9C9C-E1393A8D8788</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77A6F5AD-1CA1-4974-BC38-BDFE5A877175</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>250F7462-1C3E-4988-A57D-CFC6473CCBC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91873840-401F-4DAA-8C96-BA2D3DF10C89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>226D60E3-2D24-4ECD-B04A-072CE2C05323</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>test1</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>test1</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>startz</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>250F7462-1C3E-4988-A57D-CFC6473CCBC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hariom</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D3FE428-C6EF-40C8-A07C-22AB330FD2F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>77A6F5AD-1CA1-4974-BC38-BDFE5A877175</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.google.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3045E9ED-087B-4DAF-A8EC-5D2D38C8EB52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.youtube.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>91873840-401F-4DAA-8C96-BA2D3DF10C89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>226D60E3-2D24-4ECD-B04A-072CE2C05323</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>03E9D567-B2AB-4DEA-9C9C-E1393A8D8788</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03E9D567-B2AB-4DEA-9C9C-E1393A8D8788</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>226D60E3-2D24-4ECD-B04A-072CE2C05323</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>250F7462-1C3E-4988-A57D-CFC6473CCBC6</key>
		<dict>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>2D3FE428-C6EF-40C8-A07C-22AB330FD2F4</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>3045E9ED-087B-4DAF-A8EC-5D2D38C8EB52</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>77A6F5AD-1CA1-4974-BC38-BDFE5A877175</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>91873840-401F-4DAA-8C96-BA2D3DF10C89</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
