<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</key>
		<array/>
		<key>60354899-7F05-4FFE-AAF9-689D176C28A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>760A720A-E889-4F5B-87C1-E6B3CC9EEAA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F116DE85-6BD1-455D-8CC6-3A31AA8D145A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>841E1BBC-2CB2-468C-B795-CDBDA4A211F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0E2C1F8-B875-4A97-9509-F76A80BE5141</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA138361-7044-4EF4-BA36-5FCA0EA496FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>904EC98E-EF6D-4463-B893-3325F67BD02A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>flipkart git (f g)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f g all pr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>git ALL PR</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60354899-7F05-4FFE-AAF9-689D176C28A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.fkinternal.com/pulls</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f g cls pr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>git CLS PR</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DA138361-7044-4EF4-BA36-5FCA0EA496FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.fkinternal.com/Flipkart/listings/pulls/yadav-hariom</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>904EC98E-EF6D-4463-B893-3325F67BD02A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f g all gits</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>git ALL GITS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>841E1BBC-2CB2-468C-B795-CDBDA4A211F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.fkinternal.com/gist/yadav-hariom</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0E2C1F8-B875-4A97-9509-F76A80BE5141</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f g new gits</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>git NEW GITS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>760A720A-E889-4F5B-87C1-E6B3CC9EEAA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.fkinternal.com/gist</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F116DE85-6BD1-455D-8CC6-3A31AA8D145A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5226EDF6-B649-4936-BEDB-8A6B9BC84CAE</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>60354899-7F05-4FFE-AAF9-689D176C28A6</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>760A720A-E889-4F5B-87C1-E6B3CC9EEAA8</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>841E1BBC-2CB2-468C-B795-CDBDA4A211F1</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>904EC98E-EF6D-4463-B893-3325F67BD02A</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>DA138361-7044-4EF4-BA36-5FCA0EA496FB</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>F0E2C1F8-B875-4A97-9509-F76A80BE5141</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>F116DE85-6BD1-455D-8CC6-3A31AA8D145A</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
